.sangar-textbox-content{
	background: url('../images/background.png') repeat scroll 0% 0% transparent !important;
	font-size:62.5%;
	padding:2em;				
}

.sangar-textbox-content .sangar-textbox-title {
	color:#ffffff;
	font-size:2.2em;
}

.sangar-textbox-content .sangar-textbox-description {
	color:#ffffff;
	font-size:1.6em;
}

.sangar-textbox-content .sangar-textbox-button {
	color:#ffffff;
	font-size:1.6em;
}